
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu Principal</title>
</head>
<body>
    <div>
        <h1>Menú Principal</h1>
        <p><a href="/Home/ListarConI">Listar Productos Cuya Descripción Tenga la Letra 'I'.</a></p>
        <p><a href="/Home/ListarInicioC">Listar Productos Cuya Descripción Inicie con la Letra 'C'.</a></p>
        <p><a href="/Home/ListarFinalO">Listar Productos Cuya Descripción Finalice con la Letra 'O'.</a></p>
        <p><a href="/Home/ListarMayor20">Listar Productos Cuyo Precio sea Mayor que '20'.</a></p>
        <p><a href="/Home/ListarMenor70">Listar Productos Cuyo Precio sea Menor que '70'.</a></p>
    </div>
</body>
</html>
